{% extends 'holidaycalculator/layout.html' %}

{% block body %}
<div id="calendar-container" class=" d-none container-fluid text-center">
    
    <div class="row m-1">
        <h1>Calendar view</h1>
    </div>

    <div class="m-3" id="hours-remaining"><h3><strong id="holidayhours" class="m-1 p-1 border">{{holidayhours}}</strong> hours left</h3> </div>

    <div class="row m-lg-2 justify-content-center">
        <div class="col-4"><button id="previous-month" class=" float-end month-switch-button btn btn-outline-primary">Previous</button></div>
        
        <div class="mb-2 col-2"><h3 id="current-month"></h3></div>

        <div class="col-4 "><button id="next-month" class="float-start month-switch-button btn btn-outline-primary">Next</button></div>
    </div>
    <div id="calendar-days-row" class="row m-lg-2 justify-content-center">
        {% for day in days %}
        <div class="col col-lg-1 border ">
            <div>{{day}}</div>
        </div>
        {% endfor %}
    </div>

    {% for i in rows %}
        <div id="calendar-row-{{i}}" class="row m-lg-2 justify-content-center">
            {% for j in cols %}
                <div class="calendar-cell col col-lg-1 border"></div>
            {% endfor %}
        </div>
    {% endfor %}

    <!-- Additional row if needed, d-none by default -->
    <div id="calendar-row-5" class="d-none row m-lg-2 justify-content-center">
        {% for j in cols %}
            <div class="calendar-cell col col-lg-1 border"></div>
        {% endfor %}
    </div>

        <div class="row justify-content-between">
            <div class="col-6">
                <a href="{% url 'index' %}" id="back" class="btn btn-outline-secondary">Back to form</a>
            </div>
            <div class="col-6">
                <button id="reset" class="btn btn-secondary">Restart</button>
            </div>
        </div>
            
    

<!-- HERE IS THE INFORMATION ABOUT SHIFT LENGTH OF THE USER -->
        <div id="shift-length" class="d-none">{{shiftlength}}</div>
    </div>
</div>

{% endblock %}