{% extends 'holidaycalculator/layout.html' %}

{% block body %}
    <div class="row mt-4"></div>
    <div class="row mt-4"></div>
    <div class="row mt-4"></div>
    <div class="row mt-4"></div>
    <div class="row mt-4"></div>

    <div class="body container d-flex   justify-content-center">

        <div class="form-container border col-8 m-4 ">

        
        <div class="row mt-4 justify-content-center">
            <div class="col-4 mb-4 text-center">
                <h1>Welcome!</h1> 
            </div>
        </div>

        <div class="row my-2 justify-content-center">
            <div class="col-10 text-center ">
                <h2>How many hours off can you take?</h2>
                    <form action="calendar" method="post">
                        {% csrf_token %}
                        {{ holidayform }}
                    
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-10 text-center ">
                <h2>What is the duration of your shifts?</h2>
                        {{ shiftform }}
                    <input type="Submit" class="btn btn-primary m-1" value="submit">
                    </form>
            </div>
        </div>

        </div>

        <!-- <div class="row">
           form select: You work from ... to ...
           OR
           pick your days
        </div> -->

    </div>
{% endblock %}