#calendar-days-row > .col {
    background-color: aqua;
    user-select: none;
}

.calendar-cell {
    min-height: 100px;
    user-select: none;
}

.calendar-cell:hover {
    cursor:pointer;
}

.calendar-cell:hover {
    border-color: green !important;
}

.calendar-cell.marked:hover {
    background-color: aqua;
}

.calendar-cell:active {
    background-color: blueviolet;
}

.calendar-cell.marked:active {
    background-color: blueviolet !important; 
}

