#calendar-days-row > .col {
    background-color: aqua;
    user-select: none;
}

.calendar-cell {
    min-height: 100px;
    user-select: none;
}

.calendar-cell.marked {
    background-color: blue;
}

.calendar-cell:hover {
    cursor:pointer;
    border-color: green !important;
}

.calendar-cell.marked:hover {
    background-color: blue;
}

.calendar-cell:active {
    background-color: darkblue;
}

.calendar-cell.marked:active {
    background-color: darkblue !important; 
}

#holidayhours {
    color: blue;
}
