#calendar-days-row > .col {
    background-color: deepskyblue;
    user-select: none;
}

.calendar-cell {
    min-height: 100px;
    user-select: none;
    background-color: lightblue;
}



.calendar-cell:hover {
    cursor:pointer;
    border-color: green !important;
}

.calendar-cell.marked:hover {
    opacity: 75%;
}

.calendar-cell:active {
    background-color: darkblue;
}

.calendar-cell.marked:active {
    background-color: darkblue !important; 
}

#holidayhours {
    color: blue;
}

.calendar-cell.weekend {
    background-color: rgba(0, 151, 151, 0.555);    
}


.calendar-cell.empty {
    opacity: 50%;
}

.calendar-cell.marked {
    background-color: blue;
}